<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiupeilian.car.dao.CollectionsMapper" >
  <resultMap id="BaseResultMap" type="com.xiupeilian.car.model.Collections" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="collector_id" property="collectorId" jdbcType="INTEGER" />
    <result column="items_id" property="itemsId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, collector_id, items_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collections
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collections
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiupeilian.car.model.Collections" >
    insert into collections (id, collector_id, items_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{collectorId,jdbcType=INTEGER}, #{itemsId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiupeilian.car.model.Collections" >
    insert into collections
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="collectorId != null" >
        collector_id,
      </if>
      <if test="itemsId != null" >
        items_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="collectorId != null" >
        #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="itemsId != null" >
        #{itemsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiupeilian.car.model.Collections" >
    update collections
    <set >
      <if test="collectorId != null" >
        collector_id = #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="itemsId != null" >
        items_id = #{itemsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiupeilian.car.model.Collections" >
    update collections
    set collector_id = #{collectorId,jdbcType=INTEGER},
      items_id = #{itemsId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>