<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiupeilian.car.dao.ItemsMapper">
	<resultMap id="BaseResultMap" type="com.xiupeilian.car.model.Items">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="brand_id" property="brandId" jdbcType="INTEGER" />
		<result column="parts_id" property="partsId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="prime_id" property="primeId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="collect_count" property="collectCount"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, brand_id, parts_id, title, content, url, prime_id,
		status, user_id,
		company_id,
		collect_count, create_time, edit_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from items
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from items
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.xiupeilian.car.model.Items">
		insert into items (id,
		brand_id, parts_id,
		title, content, url,
		prime_id, status, user_id,
		company_id, collect_count, create_time,
		edit_time)
		values
		(#{id,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER},
		#{partsId,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
		#{primeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{companyId,jdbcType=INTEGER},
		#{collectCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{editTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.xiupeilian.car.model.Items">
		insert into items
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="brandId != null">
				brand_id,
			</if>
			<if test="partsId != null">
				parts_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="primeId != null">
				prime_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="companyId != null">
				company_id,
			</if>
			<if test="collectCount != null">
				collect_count,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="editTime != null">
				edit_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="brandId != null">
				#{brandId,jdbcType=INTEGER},
			</if>
			<if test="partsId != null">
				#{partsId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="primeId != null">
				#{primeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="collectCount != null">
				#{collectCount,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				#{editTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiupeilian.car.model.Items">
		update items
		<set>
			<if test="brandId != null">
				brand_id = #{brandId,jdbcType=INTEGER},
			</if>
			<if test="partsId != null">
				parts_id = #{partsId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="primeId != null">
				prime_id = #{primeId,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=INTEGER},
			</if>
			<if test="collectCount != null">
				collect_count = #{collectCount,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				edit_time = #{editTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiupeilian.car.model.Items">
		update items
		set
		brand_id = #{brandId,jdbcType=INTEGER},
		parts_id =
		#{partsId,jdbcType=INTEGER},
		title = #{title,jdbcType=VARCHAR},
		content
		= #{content,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		prime_id =
		#{primeId,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER},
		company_id =
		#{companyId,jdbcType=INTEGER},
		collect_count =
		#{collectCount,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		edit_time =
		#{editTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="findByPageQuery" parameterType="com.xiupeilian.car.base.Page" resultMap="BaseResultMap">
		select * from items
		<include refid="queryItems" />
		order by edit_time desc limit #{pager.offset},#{pager.pageSize}
	</select>
	<select id="findTotalRowsByPageQuery" parameterType="com.xiupeilian.car.base.Page"
		resultType="int">
		select count(id) from items
		<include refid="queryItems" />

	</select>
	<sql id="queryItems">
		<where>
			and status =0
			<if test="t.title!=null and t.title!=''">
				and title like '%${t.title}%'
			</if>
			<if test="t.content!=null and t.content!=''">
				and content like '%${t.content}%'
			</if>

			<if test="t.brandId!=null and t.brandId!=0">
				and brand_id = #{t.brandId}
			</if>
			<if test="t.partsId!=null and t.partsId!=0">
				and parts_id = #{t.partsId}
			</if>
		</where>
	</sql>
</mapper>